[Desktop Entry]
Name=events
Name[ca]=events
Name[cs]=events
Name[da]=events
Name[de]=events
Name[el]=events
Name[en_GB]=events
Name[es]=events
Name[et]=events
Name[fr]=events
Name[ga]=events
Name[gl]=events
Name[hu]=events
Name[it]=events
Name[ja]=events
Name[km]=events
Name[ko]=events
Name[lv]=events
Name[nb]=events
Name[nds]=events
Name[nl]=events
Name[nn]=events
Name[pa]=events
Name[pl]=events
Name[pt]=events
Name[pt_BR]=events
Name[ro]=events
Name[ru]=events
Name[sr]=events
Name[sr@latin]=events
Name[sv]=events
Name[tr]=events
Name[uk]=events
Name[x-test]=xxeventsxx
Name[zh_CN]=events
Name[zh_TW]=events
Comment=events runner
Comment[ca]=Llançador de events
Comment[cs]=events runner
Comment[da]=events-runner
Comment[de]=events
Comment[el]=εκτελεστής events
Comment[en_GB]=events runner
Comment[es]=Lanzador para events
Comment[et]=events käivitaja
Comment[fr]=Lanceur events
Comment[ga]=Feidhmitheoir events
Comment[gl]=Executor events
Comment[hu]=events-futtató
Comment[it]=Esecutore di events
Comment[ja]=events runner
Comment[km]=កម្មវិធី​រត់ events​
Comment[ko]=events 실행기
Comment[lv]=events darbinātājs
Comment[nb]=events-kjører
Comment[nds]=events-Dreger
Comment[nl]=events-starter
Comment[nn]=events-køyrar
Comment[pa]=events ਰਨਰ
Comment[pl]=Uruchamianie events
Comment[pt]=Execução do events
Comment[pt_BR]=Execução do events
Comment[ro]=Lansator events
Comment[ru]=Способ запуска events
Comment[sr]=events извођач
Comment[sr@latin]=events izvođač
Comment[sv]=Körning av events
Comment[tr]=events çalıştırıcı
Comment[uk]=Засіб запуску events
Comment[x-test]=xxevents runnerxx
Comment[zh_CN]=events 启动器
Comment[zh_TW]=events 執行器
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_events
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=events
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Ubuntu-Gettext-Domain=desktop_kdesdk
